*{
    margin: 0;
    padding: 0;
    font-family: 'Popins';
    box-sizing: border-box;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

header .navbar-brand {
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 400;
  color: #fff !important;
}

header .navbar {
  padding-top: 0;
  padding-bottom: 0;
  background: transparent !important;
}

@media (max-width: 991.98px) {
  header .navbar {
    background: rgba(0, 0, 0, 0.4) !important;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
header ul{
    min-height: 50px;
    max-height: 170px;
    background-color: black;
}
header ul li {
    text-align: center;
    margin: 20px auto;
    width: 50px;
}
header ul .login:hover {
    background-color: activeborder;
}
header .nav{
    position: relative;
    display: flex;
}
header .nav li{
    text-align: center;
    width: 120px;
    height: 30px;
    list-style: none;
    transition: 0.5s;
}

header .nav li a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-family: Comic Sans MS;
    font-weight: bold;
    text-align: center;
}
header .nav li a:hover{
    color: seagreen;
    letter-spacing: 1px;
    background-color: activeborder;
    transition: 0.5s;
}

p{
    font-weight: 300;
    color: #111;
}
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: url('background4.jpg'); */
    background-size: cover;
    color: white;
}

