/*header.sticky{
        background: lightblue;
        padding: 10px 100px;
        box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
header.sticky .nav ul li{
    background: lightcyan;
}
header.sticky .nav ul li a{
    color: black;
}
header.sticky .nav ul li a:hover{
    color: darkorange;
    letter-spacing: 3px;
}*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;

}

.banner .content{
    max-width: 900px;
    text-align: center;
}
.banner .content h2{
    font-size: 5em;
    color: #00cc33;
}
.banner .content input{
    width: 400px;
    height: 60px;
    border-radius: 20px;
    text-align: center;
    font-size: 25px;
    color: #c4c702;
}
.banner .content input:focus{
    border: 2px solid skyblue;
    font-size: 30px;
    letter-spacing: 1px;
    transition: 0.5s;
}
.banner .content .btn{
    width: 70%;
    color: #0b0b0b;
    font-weight: bold;
    font-size: 1em;
    background: orange;
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    border-radius: 30px;
    border: 2px solid gold;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.25s;

}
.banner .content .btn:hover{
    background-color:  #009900;
    color: white;
}