
*{
    text-align: center;
}
h1{
    width: auto;
    padding-top: 30px;
    border-bottom: 5px solid #009999;
    text-align: left;
}
h1::first-letter{
    color: #00cc33;
}
a{  
    padding-top: 20px;
    text-decoration: none;
    height: 40px;
    color: white;
}
.service{
    border: 2px solid black; 
    height: 400px;
}

.data{
    margin: 30px auto;
    padding-bottom: 30px;
}

.list_Services {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.list_Services li {
  float: left;
}

.list_Services li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

.detail-btn{
    background-color: orange;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    padding-top: 0px;
    padding-bottom: 30px;
}
